<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">

<head>
<title>Account Detail</title>
</head>

<body>

	<div layout:fragment="content">

		<h1>Account Detail</h1>

		<p>

			<strong>ID:</strong> <span th:text="${account.id}"></span>

		</p>


		<p>

			<strong>Account Number:</strong> <span
				th:text="${account.accountNumber}"> </span>

		</p>


		<p>

			<strong>Balance:</strong> <span th:text="${account.balance}">
			</span>

		</p>


		<br> <a th:href="@{/account/view}"> Back to Account List </a> ```

	</div>

</body>

</html>
